# First Program

In [1]:
print("Hello I am Siddhi Zinge") #Printing the given statement

Hello I am Siddhi Zinge

In [2]:
x = "I am executing my First Python Program" #Assigning variable to a string where values are stored
print(x)

y = 67 #Assigning variable to an integer where values are stored
print(y)

I am executing my First Python Program
67

# Creating a Multi-line Statement using variables

In [3]:
Name = "Vikas"
Institute = "University of Mumbai"
Age = 29
Subject = "Mathematics"
print(Name ,"studied in ", Institute,"at the age",Age,"and completed his Masters in",Subject)

Vikas studied in  University of Mumbai at the age 29 and completed his Masters in Mathematics

# Types Of Format function

In [4]:
print("Hello, I am {} years old ! I practice {}".format(18,"Python")) #Using format function to exceute print statement

Hello, I am 18 years old ! I practice Python

In [5]:
# Default format function
value_1 = 18
value_2 = "Python"
print("Hello, I am {} years old ! I practice {}".format(value_1,value_2))

Hello, I am 18 years old ! I practice Python

In [6]:
# Positional Format function
value_1 = 18
value_2 = "Python"
print("Hello, I am {0} years old ! I practice {1}".format(value_1,value_2))

Hello, I am 18 years old ! I practice Python

In [7]:
#Keyword Format function
value_1 = 18
value_2 = "Python"
print("Hello, I am {a} years old ! I practice {b}".format(b=value_2,a=value_1))

Hello, I am 18 years old ! I practice Python

# Assigning the variables and identifying their types

In [8]:
a = "Siddhi"
print("a has type :",type(a))

a has type : <class 'str'>

In [9]:
b = 34
print("b has type :",type(b))

b has type : <class 'int'>

In [10]:
c = 456.892
print("c has type :",type(c))

c has type : <class 'float'>

In [11]:
d = 32j+87
print("d has type :",type(d))

d has type : <class 'complex'>

In [12]:
e = [1,2,3,4,5]
print("e has type :",type(e))

e has type : <class 'list'>

In [13]:
f = ("Siddhi",90,"Akshata",35,65.43,"Pratiksha")
print("f has type :",type(f))

f has type : <class 'tuple'>

In [14]:
g = {"s","p","a","m",40,20,70,100}
print("g has type :",type(g))

g has type : <class 'set'>

In [15]:
h = {"Name":"Riddhi","Percentage":85.86,"Age":24,"Place":"Chiplun"}
print("h has type :",type(h))

h has type : <class 'dict'>

# Arithmetic Operators

In [16]:
p = 35 #p is the variable assigned to an integer
q = 15 #q is the variable assigned to another integer

In [17]:
print("Addition of p and q :", p+q) #Performing addition to the integers using variables

Addition of p and q : 50

In [18]:
print("Substraction of p and q :", p-q) #Performing substraction to the integers using the variables

Substraction of p and q : 20

In [19]:
print("Multiplying of p and q :", p*q) #Performing Multiplication to the integers using the variables

Multiplying of p and q : 525

In [20]:
print("Dividing p and q :",p/q) #Performing Division to the integers using the variables

Dividing p and q : 2.3333333333333335

In [21]:
print("Floor Division by dividing p and q :",p//q) 
#Performing Floor division to the integers using variables. Here in floor division, division is done normally but the value returned is less than or equal to normal value

Floor Division by dividing p and q : 2

In [22]:
print("Power function for {} :".format(p),p**2) #Here we have perfomed power function
print("Power function for {} :".format(q),q**10)#we can also do exponential funtion too

Power function for 35 : 1225
Power function for 15 : 576650390625

# Comparisonal Operators

Comparison operators are " > "  (greater than), " < "  (smaller than), " == "  (Eqaul to), " != "  (Not equal to)

In [23]:
num_1 = int(input("Enter the first value :"))
num_2 = int(input("Enter the second value :"))

Enter the first value :45
Enter the second value :90

In [24]:
print("num_1 is greater :", num_1 > num_2)

num_1 is greater : False

In [25]:
print("num_2 is greater :", num_1 < num_2)

num_2 is greater : True

In [26]:
print("num_1 and num_2 are equal :", num_1 == num_2)

num_1 and num_2 are equal : False

In [27]:
print("num_1 and num_2 are Not equal :", num_1 != num_2) 
#Performing not equal to function. Here if the integers are equal the ouput will be true else we will get output as false

num_1 and num_2 are Not equal : True

# Logical Operators

Logical operators are AND, OR and NOT which are used on conditional statements that returns values either True or False.

In [28]:
T = True
F = False

In [29]:
# Using and operator 
print(T and F)
print(F and F)
print(T and T)

False
False
True

In [30]:
# Using or operator
print(T or F)
print(F or F)
print(T or T)

True
False
True

In [31]:
# Using not operator
print(not T)
print(not F)

False
True

# Using comparison operators and logical operators together

In [32]:
# here we have initialized 3 values as r_1, r_2 and r_3
r_1=100
r_2=45
r_3=67

In [33]:
# Comparing r_1 with r_2 and r_2 with r_3 by using and operator
print(r_1 > r_2 and r_2 > r_3)

False

In [34]:
# Comparing r_1 with r_2 and r_3 with r_2 by using and operator
print(r_1 > r_2 and r_3 > r_2)

True

In [35]:
# Comparing r_1 with r_2 and r_3 with r_2 by using or operator
print(r_1 > r_2 or r_3 > r_2)

True

In [36]:
# Comparing r_1 with r_2 and r_3 with r_2 by using or operator first and then Using not Operator
print(not(r_1 > r_2 or r_3 > r_2))

False

# Using input function swap two numbers

In [37]:
# Method 1
x = float(input("Enter the first number :")) # Assigning variable to first value through input function
y = float(input("Enter the second number :")) # Assigning variable to second value through input function
x,y=y,x # Swapping the values
# After swapping the values will be
print("The first value will be :",x)
print("The second value will be :",y)

Enter the first number :34
Enter the second number :76
The first value will be : 76.0
The second value will be : 34.0

In [38]:
# Method 2
# Using third variable 
x = float(input("Enter the first number :"))
y = float(input("Enter the second number :"))
z = 0 # initializing the 3rd variable.The variable is a temporary variable 
z = x
x = y
y = z
print("The first value will be :",x)
print("The second value will be :",y)

Enter the first number :8
Enter the second number :43
The first value will be : 43.0
The second value will be : 8.0

In [39]:
# Method 3
#Using Arithmetic Operations
x = float(input("Enter the first number :"))
y = float(input("Enter the second number :"))
x = x + y
y = x - y
x = x - y
print("The first value will be :",x)
print("The second value will be :",y)

Enter the first number :45.8
Enter the second number :78.96
The first value will be : 78.96
The second value will be : 45.8

Here we got the answer in decimals as we used float function , we can use integer(int) function also